body {
  background-color: #1a2c32;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.todoContainer {
  background-color: #92cace;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.todoContainer h4 {
  font-size: 2em;
  font-family: monospace, "Courier New", Courier;
  margin-bottom: 30px;
}

.todoCreateForm {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  gap: 0.5em;
  width: 80%;
}

input {
  border: none;
  border-radius: 20px;
  height: 2.5em;
  font-size: 0.8em;
}

.todoInput {
  border: none;
  padding-left: 20px;
  background-color: #d9d9d9;
  color: #1a2c32;
}

.todoButtonCreate {
  background-color: #438e96;
  color: #f2f9f9;
  padding: 5px 10px;
}

.todoButtonCreate:hover {
  padding: 5px 10px;
}

.totalTareas {
  width: 80%;
  text-align: end;
  border-bottom: 1px solid #1a2c32;
  padding-bottom: 3px;
  font-weight: bold;
  font-size: 0.7em;
}

.todosContainer {
  width: 80%;
  margin-bottom: 3em;
}

.todo {
  margin: 1em 0;
}

.todo .todo-item {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr 0.1fr;
  padding: 3px 6px;
  height: 40px;
  align-items: center;
  border-radius: 8px;
  background: linear-gradient(to right, #92cace, #356169);
  box-shadow: 0 0 5px #356169;
}

.todo-item div {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.completado {
  background-color: #91ff87;
}

.incompleto {
  background-color: #ff8787;
}

.btn {
  border: none;
  border-radius: 20px;
  height: 70%;
  padding: 3px 10px;
  color: #1a2c32;
  cursor: pointer;
}

.todo-item .btnEditar {
  background-color: #91ff87;
}

.todo-item .btnEliminar {
  background-color: #ff2424;
}

.todo-item .btnEliminar:hover {
  background-color: #ff2424b7;
  color: #fff;
  transition: 0.2s ease all;
}

.todo-item .btnEditar:hover {
  background-color: #91ff87a2;
  transition: 0.2s ease all;
}

.todoActualizarForm {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  padding: 3px 6px;
  height: 40px;
  align-items: center;
  border-radius: 8px;
  gap: .5em;
  background: linear-gradient(to right, #92cace, #356169);
}

.todoActualizarForm input{
  height: 70%;
}

.btnActualizar{
  background-color: #87FFF8;
}

.btnActualizar:hover{
  background-color: #87fff9b2;
}
