.todo {
    width: 100%;
    margin-bottom: 5px;
    border-bottom: solid 1px white;
    padding: 5px 0;
}

.todo-item {
    display: grid;
    grid-template-columns: .2fr 1fr .2fr .2fr;
    gap: 5px;
    min-height: 20px;
    align-items: center;
    color: lightblue;
    font-family: sans-serif;

}

.todo .btn {
    height: 100%;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
}



.btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transition: .3s ease all;
    cursor: pointer;
}


.todoActualizarForm {
    display: grid;
    grid-template-columns: 1fr .3fr;
    gap: 5px;
    min-height: 20px;
    margin-top: 5px;
}

.todoActualizarForm input:first-child {
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}

.todoActualizarForm input[type=submit] {
    background-color: rgba(24, 90, 223, 0.4);
}

.todoActualizarForm input[type=submit]:hover {
    background-color: rgba(24, 90, 223, 0.9);
    cursor: pointer;
    transition: .3s ease all;
}



.estado-task {
    font-weight: 100;
    font-style: normal;
    font-size: .7em;
    display: block;
    opacity: 50%;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px;
}

.listo {
    border-left: solid 2px rgba(0, 228, 0, 0.6);
    color: rgba(0, 228, 0, 0.6);
}

.pendiente {
    border-left: solid 2px rgba(255, 0, 0, 0.5);
    color: rgba(255, 0, 0, 0.5);
}